{% extends 'layout.html' %}

{% block body %}
    <h1>Cauta Dosare cu forms</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        <div class="form-group row col-sm-10">
            {{render_field(form.numarDosar, class_="form-control col-sm-5 col-form-label")}}
        </div>
        <div class="form-group row col-sm-10">
            {{render_field(form.obiectDosar, class_="form-control col-sm-5 col-form-label")}}
        </div>
        <div class="form-group row col-sm-10">
            {{render_field(form.numeParte, class_="form-control col-sm-5 col-form-label")}}
        </div>
        <div class="form-group row col-sm-10">
            {{render_field(form.institutie, class_="form-control col-sm-5 col-form-label")}}
        </div>
        <div class="form-group row col-sm-10">
            {{render_field(form.dataInregistratiiStart, class_="form-control col-sm-5 col-form-label")}}
        </div>
        <div class="form-group row col-sm-10">
            {{render_field(form.dataInregistratiiStop, class_="form-control col-sm-5 col-form-label")}}
        </div>
        <div class="form-group row col-sm-10">
            {{render_field(form.dataUltimeiModificariStart, class_="form-control col-sm-5 col-form-label")}}
        </div>
        <div class="form-group row col-sm-10">
            {{render_field(form.dataUltimeiModificariStop, class_="form-control col-sm-5 col-form-label")}}
        </div>
        <p><input type="submit" class="btn btn-primary" value="Cautare"></p>
    </form>

    {% if result|length>0 %}
        <p>{{result}}</p>
    {% endif %}

    <h1>Cauta Dosare</h1>
    <br/>
    <div>
            <table>
                <tr>
                    <td>Cautare dosare dupa numar, obiect, parte, institutie, data, data ultima modificare</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <form action="/SoapClient" class="soapform" id="CautareDosare2" method="POST">
                            <input class="input-text" type="hidden" name="SoapWSDL" id="SoapWSDL" value="http://portalquery.just.ro/query.asmx?WSDL"/>
                            <input class="input-text" type="hidden" name="SoapBinding" id="SoapBinding" value="tns:QuerySoap"/>
                            <input class="input-text" type="hidden" name="MethodName" id="MethodName" value="CautareDosare2"/>
                            <input class="input-text" type="hidden" name="SoapAction" id="SoapAction" value="portalquery.just.ro/CautareDosare2"/>
                            <table width="100%">
                                <tr>
                                    <td colspan="2">
                                        <table width="100%" class="soap-header">
                                            <tr>
                                                <td colspan="2">
                                                    <br/>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" >
                                        <table width="100%" class="soap-form">
                                            <tr>
                                                <td>
                                                    <span class="input-name">Numar Dosar:</span>
                                                </td>
                                                <td>
                                                    <input class="input-string" type="text" name="numarDosar" id="numarDosar[0]" size="40"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="input-name">Obiect Dosar:</span>
                                                </td>
                                                <td>
                                                    <input class="input-string" type="text" name="obiectDosar" id="obiectDosar" size="40"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="input-name">Nume Parte:</span>
                                                </td>
                                                <td>
                                                    <input class="input-string" type="text" name="numeParte" id="numeParte" size="40"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="input-name">Institutie:</span>
                                                </td>
                                                <td>
                                                    <select class="input-select" name="institutie" id="institutie" size="1">
                                                        <option value="">Oriunde</option>
                                                        <option value="CurteadeApelBUCURESTI">CurteadeApelBUCURESTI</option>
                                                        <option value="TribunalulBUCURESTI">TribunalulBUCURESTI</option>
                                                        <option value="JudecatoriaSECTORUL4BUCURESTI">JudecatoriaSECTORUL4BUCURESTI</option>
                                                        <option value="TribunalulTIMIS">TribunalulTIMIS</option>
                                                        <option value="CurteadeApelBACAU">CurteadeApelBACAU</option>
                                                        <option value="CurteadeApelCLUJ">CurteadeApelCLUJ</option>
                                                        <option value="CurteadeApelORADEA">CurteadeApelORADEA</option>
                                                        <option value="CurteadeApelCONSTANTA">CurteadeApelCONSTANTA</option>
                                                        <option value="CurteadeApelSUCEAVA">CurteadeApelSUCEAVA</option>
                                                        <option value="TribunalulBOTOSANI">TribunalulBOTOSANI</option>
                                                        <option value="CurteadeApelPLOIESTI">CurteadeApelPLOIESTI</option>
                                                        <option value="CurteadeApelTARGUMURES">CurteadeApelTARGUMURES</option>
                                                        <option value="CurteadeApelGALATI">CurteadeApelGALATI</option>
                                                        <option value="CurteadeApelIASI">CurteadeApelIASI</option>
                                                        <option value="CurteadeApelPITESTI">CurteadeApelPITESTI</option>
                                                        <option value="CurteadeApelCRAIOVA">CurteadeApelCRAIOVA</option>
                                                        <option value="JudecatoriaARAD">JudecatoriaARAD</option>
                                                        <option value="CurteadeApelALBAIULIA">CurteadeApelALBAIULIA</option>
                                                        <option value="CurteadeApelTIMISOARA">CurteadeApelTIMISOARA</option>
                                                        <option value="TribunalulBRASOV">TribunalulBRASOV</option>
                                                        <option value="TribunalulDOLJ">TribunalulDOLJ</option>
                                                        <option value="CurteadeApelBRASOV">CurteadeApelBRASOV</option>
                                                        <option value="CurteaMilitaradeApelBUCURESTI">CurteaMilitaradeApelBUCURESTI</option>
                                                        <option value="TribunalulSATUMARE">TribunalulSATUMARE</option>
                                                        <option value="TribunalulSALAJ">TribunalulSALAJ</option>
                                                        <option value="TribunalulSIBIU">TribunalulSIBIU</option>
                                                        <option value="TribunalulSUCEAVA">TribunalulSUCEAVA</option>
                                                        <option value="TribunalulTELEORMAN">TribunalulTELEORMAN</option>
                                                        <option value="TribunalulTULCEA">TribunalulTULCEA</option>
                                                        <option value="TribunalulVASLUI">TribunalulVASLUI</option>
                                                        <option value="TribunalulVALCEA">TribunalulVALCEA</option>
                                                        <option value="TribunalulVRANCEA">TribunalulVRANCEA</option>
                                                        <option value="TribunalulMilitarBUCURESTI">TribunalulMilitarBUCURESTI</option>
                                                        <option value="TribunalulILFOV">TribunalulILFOV</option>
                                                        <option value="JudecatoriaBUFTEA">JudecatoriaBUFTEA</option>
                                                        <option value="TribunalulGORJ">TribunalulGORJ</option>
                                                        <option value="TribunalulHARGHITA">TribunalulHARGHITA</option>
                                                        <option value="TribunalulHUNEDOARA">TribunalulHUNEDOARA</option>
                                                        <option value="TribunalulIALOMITA">TribunalulIALOMITA</option>
                                                        <option value="TribunalulIASI">TribunalulIASI</option>
                                                        <option value="TribunalulMARAMURES">TribunalulMARAMURES</option>
                                                        <option value="TribunalulMEHEDINTI">TribunalulMEHEDINTI</option>
                                                        <option value="TribunalulMURES">TribunalulMURES</option>
                                                        <option value="TribunalulNEAMT">TribunalulNEAMT</option>
                                                        <option value="TribunalulOLT">TribunalulOLT</option>
                                                        <option value="TribunalulPRAHOVA">TribunalulPRAHOVA</option>
                                                        <option value="TribunalulALBA">TribunalulALBA</option>
                                                        <option value="TribunalulARAD">TribunalulARAD</option>
                                                        <option value="TribunalulARGES">TribunalulARGES</option>
                                                        <option value="TribunalulBACAU">TribunalulBACAU</option>
                                                        <option value="TribunalulBIHOR">TribunalulBIHOR</option>
                                                        <option value="TribunalulBISTRITANASAUD">TribunalulBISTRITANASAUD</option>
                                                        <option value="TribunalulBRAILA">TribunalulBRAILA</option>
                                                        <option value="TribunalulBUZAU">TribunalulBUZAU</option>
                                                        <option value="TribunalulCARASSEVERIN">TribunalulCARASSEVERIN</option>
                                                        <option value="TribunalulCALARASI">TribunalulCALARASI</option>
                                                        <option value="TribunalulCLUJ">TribunalulCLUJ</option>
                                                        <option value="TribunalulCONSTANTA">TribunalulCONSTANTA</option>
                                                        <option value="TribunalulCOVASNA">TribunalulCOVASNA</option>
                                                        <option value="TribunalulDAMBOVITA">TribunalulDAMBOVITA</option>
                                                        <option value="TribunalulGALATI">TribunalulGALATI</option>
                                                        <option value="TribunalulGIURGIU">TribunalulGIURGIU</option>
                                                        <option value="JudecatoriaADJUD">JudecatoriaADJUD</option>
                                                        <option value="JudecatoriaAGNITA">JudecatoriaAGNITA</option>
                                                        <option value="JudecatoriaAIUD">JudecatoriaAIUD</option>
                                                        <option value="JudecatoriaALBAIULIA">JudecatoriaALBAIULIA</option>
                                                        <option value="JudecatoriaALESD">JudecatoriaALESD</option>
                                                        <option value="JudecatoriaBABADAG">JudecatoriaBABADAG</option>
                                                        <option value="JudecatoriaBACAU">JudecatoriaBACAU</option>
                                                        <option value="JudecatoriaBAIADEARAMA">JudecatoriaBAIADEARAMA</option>
                                                        <option value="JudecatoriaBAIAMARE">JudecatoriaBAIAMARE</option>
                                                        <option value="JudecatoriaBAILESTI">JudecatoriaBAILESTI</option>
                                                        <option value="JudecatoriaBALS">JudecatoriaBALS</option>
                                                        <option value="JudecatoriaBALCESTI">JudecatoriaBALCESTI</option>
                                                        <option value="JudecatoriaBECLEAN">JudecatoriaBECLEAN</option>
                                                        <option value="JudecatoriaBEIUS">JudecatoriaBEIUS</option>
                                                        <option value="JudecatoriaBICAZ">JudecatoriaBICAZ</option>
                                                        <option value="JudecatoriaBARLAD">JudecatoriaBARLAD</option>
                                                        <option value="JudecatoriaBISTRITA">JudecatoriaBISTRITA</option>
                                                        <option value="JudecatoriaBLAJ">JudecatoriaBLAJ</option>
                                                        <option value="JudecatoriaBOLINTINVALE">JudecatoriaBOLINTINVALE</option>
                                                        <option value="JudecatoriaBOTOSANI">JudecatoriaBOTOSANI</option>
                                                        <option value="JudecatoriaBOZOVICI">JudecatoriaBOZOVICI</option>
                                                        <option value="JudecatoriaBRAD">JudecatoriaBRAD</option>
                                                        <option value="JudecatoriaBRAILA">JudecatoriaBRAILA</option>
                                                        <option value="JudecatoriaBRASOV">JudecatoriaBRASOV</option>
                                                        <option value="JudecatoriaBREZOI">JudecatoriaBREZOI</option>
                                                        <option value="JudecatoriaBUHUSI">JudecatoriaBUHUSI</option>
                                                        <option value="JudecatoriaBUZAU">JudecatoriaBUZAU</option>
                                                        <option value="JudecatoriaCALAFAT">JudecatoriaCALAFAT</option>
                                                        <option value="JudecatoriaCALARASI">JudecatoriaCALARASI</option>
                                                        <option value="JudecatoriaCAMPENI">JudecatoriaCAMPENI</option>
                                                        <option value="JudecatoriaCAMPINA">JudecatoriaCAMPINA</option>
                                                        <option value="JudecatoriaCAMPULUNG">JudecatoriaCAMPULUNG</option>
                                                        <option value="JudecatoriaCAMPULUNGMOLDOVENESC">JudecatoriaCAMPULUNGMOLDOVENESC</option>
                                                        <option value="JudecatoriaCARACAL">JudecatoriaCARACAL</option>
                                                        <option value="JudecatoriaCARANSEBES">JudecatoriaCARANSEBES</option>
                                                        <option value="JudecatoriaCHISINEUCRIS">JudecatoriaCHISINEUCRIS</option>
                                                        <option value="JudecatoriaCLUJNAPOCA">JudecatoriaCLUJNAPOCA</option>
                                                        <option value="JudecatoriaCONSTANTA">JudecatoriaCONSTANTA</option>
                                                        <option value="JudecatoriaCORABIA">JudecatoriaCORABIA</option>
                                                        <option value="JudecatoriaCOSTESTI">JudecatoriaCOSTESTI</option>
                                                        <option value="JudecatoriaCRAIOVA">JudecatoriaCRAIOVA</option>
                                                        <option value="JudecatoriaCURTEADEARGES">JudecatoriaCURTEADEARGES</option>
                                                        <option value="JudecatoriaDarabani">JudecatoriaDarabani</option>
                                                        <option value="JudecatoriaCAREI">JudecatoriaCAREI</option>
                                                        <option value="JudecatoriaDEJ">JudecatoriaDEJ</option>
                                                        <option value="JudecatoriaDETA">JudecatoriaDETA</option>
                                                        <option value="JudecatoriaDEVA">JudecatoriaDEVA</option>
                                                        <option value="JudecatoriaDOROHOI">JudecatoriaDOROHOI</option>
                                                        <option value="JudecatoriaDRAGASANI">JudecatoriaDRAGASANI</option>
                                                        <option value="JudecatoriaDRAGOMIRESTI">JudecatoriaDRAGOMIRESTI</option>
                                                        <option value="JudecatoriaDROBETATURNUSEVERIN">JudecatoriaDROBETATURNUSEVERIN</option>
                                                        <option value="JudecatoriaFAGARAS">JudecatoriaFAGARAS</option>
                                                        <option value="JudecatoriaFALTICENI">JudecatoriaFALTICENI</option>
                                                        <option value="JudecatoriaFAUREI">JudecatoriaFAUREI</option>
                                                        <option value="JudecatoriaFETESTI">JudecatoriaFETESTI</option>
                                                        <option value="JudecatoriaFILIASI">JudecatoriaFILIASI</option>
                                                        <option value="JudecatoriaFOCSANI">JudecatoriaFOCSANI</option>
                                                        <option value="JudecatoriaGAESTI">JudecatoriaGAESTI</option>
                                                        <option value="JudecatoriaGALATI">JudecatoriaGALATI</option>
                                                        <option value="JudecatoriaGHEORGHENI">JudecatoriaGHEORGHENI</option>
                                                        <option value="JudecatoriaGHERLA">JudecatoriaGHERLA</option>
                                                        <option value="JudecatoriaGIURGIU">JudecatoriaGIURGIU</option>
                                                        <option value="JudecatoriaGURAHUMORULUI">JudecatoriaGURAHUMORULUI</option>
                                                        <option value="JudecatoriaGURAHONT">JudecatoriaGURAHONT</option>
                                                        <option value="JudecatoriaHARLAU">JudecatoriaHARLAU</option>
                                                        <option value="JudecatoriaHATEG">JudecatoriaHATEG</option>
                                                        <option value="JudecatoriaHOREZU">JudecatoriaHOREZU</option>
                                                        <option value="JudecatoriaHUEDIN">JudecatoriaHUEDIN</option>
                                                        <option value="JudecatoriaHUNEDOARA">JudecatoriaHUNEDOARA</option>
                                                        <option value="JudecatoriaHUSI">JudecatoriaHUSI</option>
                                                        <option value="JudecatoriaIASI">JudecatoriaIASI</option>
                                                        <option value="JudecatoriaINEU">JudecatoriaINEU</option>
                                                        <option value="JudecatoriaINSURATEI">JudecatoriaINSURATEI</option>
                                                        <option value="JudecatoriaINTORSURABUZAULUI">JudecatoriaINTORSURABUZAULUI</option>
                                                        <option value="JudecatoriaLEHLIUGARA">JudecatoriaLEHLIUGARA</option>
                                                        <option value="JudecatoriaLIPOVA">JudecatoriaLIPOVA</option>
                                                        <option value="JudecatoriaLUDUS">JudecatoriaLUDUS</option>
                                                        <option value="JudecatoriaLUGOJ">JudecatoriaLUGOJ</option>
                                                        <option value="JudecatoriaMACIN">JudecatoriaMACIN</option>
                                                        <option value="JudecatoriaMANGALIA">JudecatoriaMANGALIA</option>
                                                        <option value="JudecatoriaMARGHITA">JudecatoriaMARGHITA</option>
                                                        <option value="JudecatoriaMEDGIDIA">JudecatoriaMEDGIDIA</option>
                                                        <option value="JudecatoriaMEDIAS">JudecatoriaMEDIAS</option>
                                                        <option value="JudecatoriaMIERCUREACIUC">JudecatoriaMIERCUREACIUC</option>
                                                        <option value="JudecatoriaMIZIL">JudecatoriaMIZIL</option>
                                                        <option value="JudecatoriaMOINESTI">JudecatoriaMOINESTI</option>
                                                        <option value="JudecatoriaMOLDOVANOUA">JudecatoriaMOLDOVANOUA</option>
                                                        <option value="JudecatoriaMORENI">JudecatoriaMORENI</option>
                                                        <option value="JudecatoriaMOTRU">JudecatoriaMOTRU</option>
                                                        <option value="JudecatoriaMURGENI">JudecatoriaMURGENI</option>
                                                        <option value="JudecatoriaNASAUD">JudecatoriaNASAUD</option>
                                                        <option value="JudecatoriaNEGRESTIOAS">JudecatoriaNEGRESTIOAS</option>
                                                        <option value="JudecatoriaNOVACI">JudecatoriaNOVACI</option>
                                                        <option value="JudecatoriaODORHEIULSECUIESC">JudecatoriaODORHEIULSECUIESC</option>
                                                        <option value="JudecatoriaOLTENITA">JudecatoriaOLTENITA</option>
                                                        <option value="JudecatoriaONESTI">JudecatoriaONESTI</option>
                                                        <option value="JudecatoriaORADEA">JudecatoriaORADEA</option>
                                                        <option value="JudecatoriaORASTIE">JudecatoriaORASTIE</option>
                                                        <option value="JudecatoriaORAVITA">JudecatoriaORAVITA</option>
                                                        <option value="JudecatoriaORSOVA">JudecatoriaORSOVA</option>
                                                        <option value="JudecatoriaPANCIU">JudecatoriaPANCIU</option>
                                                        <option value="JudecatoriaPATARLAGELE">JudecatoriaPATARLAGELE</option>
                                                        <option value="JudecatoriaPETROSANI">JudecatoriaPETROSANI</option>
                                                        <option value="JudecatoriaPIATRANEAMT">JudecatoriaPIATRANEAMT</option>
                                                        <option value="JudecatoriaPITESTI">JudecatoriaPITESTI</option>
                                                        <option value="JudecatoriaPLOIESTI">JudecatoriaPLOIESTI</option>
                                                        <option value="JudecatoriaPOGOANELE">JudecatoriaPOGOANELE</option>
                                                        <option value="JudecatoriaPUCIOASA">JudecatoriaPUCIOASA</option>
                                                        <option value="JudecatoriaRACARI">JudecatoriaRACARI</option>
                                                        <option value="JudecatoriaRADAUTI">JudecatoriaRADAUTI</option>
                                                        <option value="JudecatoriaRADUCANENI">JudecatoriaRADUCANENI</option>
                                                        <option value="JudecatoriaRAMNICUSARAT">JudecatoriaRAMNICUSARAT</option>
                                                        <option value="JudecatoriaRAMNICUVALCEA">JudecatoriaRAMNICUVALCEA</option>
                                                        <option value="JudecatoriaREGHIN">JudecatoriaREGHIN</option>
                                                        <option value="JudecatoriaRESITA">JudecatoriaRESITA</option>
                                                        <option value="JudecatoriaROMAN">JudecatoriaROMAN</option>
                                                        <option value="JudecatoriaROSIORIDEVEDE">JudecatoriaROSIORIDEVEDE</option>
                                                        <option value="JudecatoriaRUPEA">JudecatoriaRUPEA</option>
                                                        <option value="JudecatoriaSALISTE">JudecatoriaSALISTE</option>
                                                        <option value="JudecatoriaSANNICOLAULMARE">JudecatoriaSANNICOLAULMARE</option>
                                                        <option value="JudecatoriaSATUMARE">JudecatoriaSATUMARE</option>
                                                        <option value="JudecatoriaSAVENI">JudecatoriaSAVENI</option>
                                                        <option value="JudecatoriaSEBES">JudecatoriaSEBES</option>
                                                        <option value="JudecatoriaSECTORUL1BUCURESTI">JudecatoriaSECTORUL1BUCURESTI</option>
                                                        <option value="JudecatoriaSECTORUL2BUCURESTI">JudecatoriaSECTORUL2BUCURESTI</option>
                                                        <option value="JudecatoriaSECTORUL3BUCURESTI">JudecatoriaSECTORUL3BUCURESTI</option>
                                                        <option value="JudecatoriaSECTORUL5BUCURESTI">JudecatoriaSECTORUL5BUCURESTI</option>
                                                        <option value="JudecatoriaSECTORUL6BUCURESTI">JudecatoriaSECTORUL6BUCURESTI</option>
                                                        <option value="JudecatoriaSEGARCEA">JudecatoriaSEGARCEA</option>
                                                        <option value="JudecatoriaSFANTUGHEORGHE">JudecatoriaSFANTUGHEORGHE</option>
                                                        <option value="JudecatoriaSIBIU">JudecatoriaSIBIU</option>
                                                        <option value="JudecatoriaSIGHETUMARMATIEI">JudecatoriaSIGHETUMARMATIEI</option>
                                                        <option value="JudecatoriaSIGHISOARA">JudecatoriaSIGHISOARA</option>
                                                        <option value="JudecatoriaSIMLEULSILVANIEI">JudecatoriaSIMLEULSILVANIEI</option>
                                                        <option value="JudecatoriaSINAIA">JudecatoriaSINAIA</option>
                                                        <option value="JudecatoriaSLATINA">JudecatoriaSLATINA</option>
                                                        <option value="JudecatoriaSLOBOZIA">JudecatoriaSLOBOZIA</option>
                                                        <option value="JudecatoriaSTREHAIA">JudecatoriaSTREHAIA</option>
                                                        <option value="JudecatoriaSUCEAVA">JudecatoriaSUCEAVA</option>
                                                        <option value="JudecatoriaTARGOVISTE">JudecatoriaTARGOVISTE</option>
                                                        <option value="JudecatoriaTARGUBUJOR">JudecatoriaTARGUBUJOR</option>
                                                        <option value="JudecatoriaTARGUCARBUNESTI">JudecatoriaTARGUCARBUNESTI</option>
                                                        <option value="JudecatoriaTARGUJIU">JudecatoriaTARGUJIU</option>
                                                        <option value="JudecatoriaTARGULAPUS">JudecatoriaTARGULAPUS</option>
                                                        <option value="JudecatoriaTARGUMURES">JudecatoriaTARGUMURES</option>
                                                        <option value="JudecatoriaTARGUNEAMT">JudecatoriaTARGUNEAMT</option>
                                                        <option value="JudecatoriaTARGUSECUIESC">JudecatoriaTARGUSECUIESC</option>
                                                        <option value="JudecatoriaTARNAVENI">JudecatoriaTARNAVENI</option>
                                                        <option value="JudecatoriaTECUCI">JudecatoriaTECUCI</option>
                                                        <option value="JudecatoriaTIMISOARA">JudecatoriaTIMISOARA</option>
                                                        <option value="JudecatoriaTOPLITA">JudecatoriaTOPLITA</option>
                                                        <option value="JudecatoriaTULCEA">JudecatoriaTULCEA</option>
                                                        <option value="JudecatoriaTURDA">JudecatoriaTURDA</option>
                                                        <option value="JudecatoriaTURNUMAGURELE">JudecatoriaTURNUMAGURELE</option>
                                                        <option value="JudecatoriaURZICENI">JudecatoriaURZICENI</option>
                                                        <option value="JudecatoriaVALENIIDEMUNTE">JudecatoriaVALENIIDEMUNTE</option>
                                                        <option value="JudecatoriaVANJUMARE">JudecatoriaVANJUMARE</option>
                                                        <option value="JudecatoriaVASLUI">JudecatoriaVASLUI</option>
                                                        <option value="JudecatoriaVATRADORNEI">JudecatoriaVATRADORNEI</option>
                                                        <option value="JudecatoriaVIDELE">JudecatoriaVIDELE</option>
                                                        <option value="JudecatoriaVISEUDESUS">JudecatoriaVISEUDESUS</option>
                                                        <option value="JudecatoriaZALAU">JudecatoriaZALAU</option>
                                                        <option value="JudecatoriaZARNESTI">JudecatoriaZARNESTI</option>
                                                        <option value="JudecatoriaZIMNICEA">JudecatoriaZIMNICEA</option>
                                                        <option value="TribunalulMilitarIASI">TribunalulMilitarIASI</option>
                                                        <option value="JudecatoriaALEXANDRIA">JudecatoriaALEXANDRIA</option>
                                                        <option value="TribunalulMilitarTIMISOARA">TribunalulMilitarTIMISOARA</option>
                                                        <option value="TribunalulMilitarCLUJNAPOCA">TribunalulMilitarCLUJNAPOCA</option>
                                                        <option value="TribunalulMilitarTeritorialBUCURESTI">TribunalulMilitarTeritorialBUCURESTI</option>
                                                        <option value="JudecatoriaAVRIG">JudecatoriaAVRIG</option>
                                                        <option value="JudecatoriaTOPOLOVENI">JudecatoriaTOPOLOVENI</option>
                                                        <option value="JudecatoriaPODUTURCULUI">JudecatoriaPODUTURCULUI</option>
                                                        <option value="JudecatoriaFAGET">JudecatoriaFAGET</option>
                                                        <option value="JudecatoriaSALONTA">JudecatoriaSALONTA</option>
                                                        <option value="JudecatoriaLIESTI">JudecatoriaLIESTI</option>
                                                        <option value="JudecatoriaHARSOVA">JudecatoriaHARSOVA</option>
                                                        <option value="JudecatoriaSOMCUTAMARE">JudecatoriaSOMCUTAMARE</option>
                                                        <option value="JudecatoriaPASCANI">JudecatoriaPASCANI</option>
                                                        <option value="TribunalulComercialARGES">TribunalulComercialARGES</option>
                                                        <option value="TribunalulComercialCLUJ">TribunalulComercialCLUJ</option>
                                                        <option value="TribunalulComercialMURES">TribunalulComercialMURES</option>
                                                        <option value="TribunalulpentruminoriSifamilieBRASOV">TribunalulpentruminoriSifamilieBRASOV</option>
                                                        <option value="JudecatoriaCORNETU">JudecatoriaCORNETU</option>
                                                        <option value="JudecatoriaJIBOU">JudecatoriaJIBOU</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="input-name">Data Inregistratii Start:</span>
                                                </td>
                                                <td>
                                                    <input class="input-dateTime" type="text" name="dataStart" id="dataStart" size="40"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="input-name">Data Inregistrarii Stop:</span>
                                                </td>
                                                <td>
                                                    <input class="input-dateTime" type="text" name="dataStop" id="dataStop" size="40"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="input-name">Data Ultimei Modificari Start:</span>
                                                </td>
                                                <td>
                                                    <input class="input-dateTime" type="text" name="dataUltimaModificareStart" id="dataUltimaModificareStart" size="40"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="input-name">Data Ultimei Modificari Stop:</span>
                                                </td>
                                                <td>
                                                    <input class="input-dateTime" type="text" name="dataUltimaModificareStop" id="dataUltimaModificareStop" size="40"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">&nbsp;</td>
                                            </tr>
                                            <tr>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>
                </tr>
        </table>
    </div>
    <form class="form-inline mt-2 mt-md-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cautare</button>
    </form>
{% endblock %}